/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Lato:100);

// typography styling
h1, h2, h3 {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

#splash_text {
  font-family: 'Lato', sans-serif;
}

.quote h3 {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 1.7rem;
}

.quote h5 {
  font-family: 'Lato','Helvetica', sans-serif;
  font-size: 2rem;
}

.value {
  text-align: center;
}

.works_icon {
  font-size: 6em;
}

// layout styling
#splash {
  position: absolute;
  z-index: 1;
  top: 5rem;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DADADA;
  opacity: 0.9;
  padding-bottom: 2rem;
  min-width: 7rem;
}

#splash:hover div {
  color: #696969;
}

.splash_signup {
  background-color: white !important;
  color: #498EFF !important;
  border: 1px solid #498EFF;
}

.splash_signup:hover {
  background-color: #ECF3FF !important;
  color: #498EFF !important;
  border: 1px solid #498EFF;
}

.splash_icons {
  max-width: 7rem;
  border: 1px solid #DADADA;
  border-radius: 3px;
  margin-top: 1.7rem;
  font-family: 'Lato';
  padding-top: 0.5rem;
  position: relative;
}

.quote {
  margin-top: 10px;
}

.columns.nopadding {
  padding-left: 0;
  padding-right: 0;
}

.container {
  margin: 0;
  max-width: rem-calc(100%);
  width: 100%;
  position: relative;
  padding: 0;
}
.textLinkHover:hover{
  color: #498EFF;
}

// navbar styling
.navLogo {
  height: 2em;
}

.good_display {
  height: 300px;
  text-align: center;
}

.good_image{
	height:250px;
}
.good_image_image{
  height:100%;
}
.friendsSidebar{
	background-color: #EDEDED;
	height: 100%;
}

.footer_icons {
  font-size: 2rem;
}

.footer_icons:hover {
  color: #498EFF !important;
}

// image styling

.value img {
  height: 300px;
  width: 300px;
}

#featured img {
  width: 100%;
}

.logo_splash {
  margin-top: 0.5rem;
}

// icon styling
.splash_icons h4 {
  font-family: 'Lato';
}

#bike, #wrench, #suitcase {
  font-size: 3.5rem;
}

#camera {
  font-size: 3.0rem;
  margin-top: 0.5rem;
}

#topLeft {
  margin-left: 2.5rem;
}

#bottomLeft {
  margin-left: 2.5rem;
}


#topRight {
  margin-right: 2.5rem;
}

#bottomRight {
  margin-right: 2.5rem;
}

// button styling

#search {
  border: 1px solid white;
}

/**/
