// splash page styling
#splash {
  height: 400px;
  position: absolute;
  z-index: 1;
  top: 75px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DADADA;
}

.splash_icons {
  height: 100px;
  width: 100px;
  border: 1px solid #DADADA;
  border-radius: 3px;
  margin-top: 25px;
  font-family: 'Lato';
}

.splash_icons h4 {
  font-family: 'Lato';
}

#bike, #wrench, #suitcase {
  font-size: 3.5rem;
}

#camera {
  font-size: 3.0rem;
  margin-top: 0.5rem;
}

#topLeft {
  margin-left: 40px;
}

#bottomLeft {
  margin-left: 40px;
}


#topRight {
  margin-right: 40px;
}

#bottomRight {
  margin-right: 40px;
}

// photo styling
.value img {
  height: 300px;
  width: 300px;
}